{% set deployment_name = "demo" %}
parameters:
  deployment:
    name: "{{ deployment_name }}"
    dns: "{{ deployment_name }}.example.local"

"@taskcask":
  load_next:
  - config.main.yaml.jinja2
  - environments/ssh_raspberrypi.jinja2
