task_template_loaders:
  dir_toml:
    path: "{{ cfg.sys.cwd }}/examples/task_templates"


environments:
  local:
    kind: local
    env:
      CUSTOM_PARAM: target_local_env_value
  ssh_raspberrypi:
    kind: ssh
    host: raspberrypi
    user: pi
    env:
      CUSTOM_PARAM: target_remote_env_value

# io:
#   print_result: false
