task_templates:
  lookup_dirs:
  - "{{ cfg.sys.cwd }}/examples/task_templates"


environments:
  local:
    kind: local
    env:
      CUSTOM_PARAM: target_local_env_value
  {% filter indent(2) %}
  {%- include "environments/ssh_raspberrypi.yaml.jinja2" -%}
  {% endfilter %}

# io:
#   print_result: false
