# A static text
example.system_commands.say_hello_world:
  kind: system_command
  cmd: ["echo", "Hello, World!"]


# Text and current time (Unix)
example.system_commands.say_hello_world.with_env:
  kind: system_command
  cmd: ["bash", "-c", "echo Hello, $NAME! It\\'s \"$(date +%Y-%m-%dT%I:%M:%S)\". Sample: $CUSTOM_PARAM. Deployment is: {{ cfg.params.deployment.name }}"]
  env: {NAME: "John Doe"}

# List a directory. User can optionally pass the path to directory
example.system_commands.list_dir:
  kind: system_command
  cmd: ["ls", "-lah"]
